.User {
    display:flex;
    align-items: center;
    margin: 0 auto 12px;
}

.User:last-child{
    margin-bottom: 10px;
}

.Avatar {
    flex: 0 0 96px;
    width: 96px;
    height: 96px;
    margin: 0;
}

.Description {
    flex:1;
    margin-left: 18px;
    padding: 12px;
}

.Username {
    margin: 0 0 12px 0;
    padding: 0;
}

.Excerpt {
    margin: 0
}